<div class="row">
 
  <% @cars.each do |car| %>

    <div class="col-md-3">

      <h2><%= link_to car.title, car_path(car) %></h2>


      <div style="width:400px; height:auto">
        <%= link_to image_tag(car.image, style: "width:100%"), car_path(car) %>
      </div>

    </div>

  <% end %>

</div>

   





